#vowel-detect {
  padding: 10px;
  border: 3px solid #53150d;
  border-radius: 10px;
  background-color: #7d965e;
  text-align: center;
}

.vowel-button-set {
  border: 2px solid #53150d;
  border-radius: 15px;
  display: inline;
}

.vowel-button-and-detect {
  display: flex;
}

.vowel-button {
  display: inline;
  border-radius: 15px;
  background-color: #325932;
  color: whitesmoke;
}

.save-button {
  border-radius: 15px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 0 0px #325932;
  background-color: #764b45;
  color: white;
  outline: none !important;
}
.save-button:focus {
  border-radius: 10px;
  box-shadow: 0 0 0px #325932;
}

.vowel-wave-canvas {
  border: 2px solid #53150d;
  border-radius: 15px;
}
