.home {
  overflow: hidden;
  width: 100vw;
  height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logoImage {
  width: 200px;
}
.top {
  padding-bottom: 3vh;
}
/* .top {
  height: 50vh;
  padding-top: 15vh;
  text-align: center;
} */
.input {
  width: 50vw;
  max-width: 200px;
}
/* .bottom {
  font-size: 1em;
  height: 50vh;
  text-align: center;
} */

@media screen and (max-width: 768px) and (orientation: landscape) {
  .home {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: calc(var(--vh) * 100);
  }
  .logoImage {
    min-height: 150px;
  }
  .top {
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: calc(var(--vh) * 100);
  }
  .input {
    width: 30vw;
  }
  .bottom {
    display: flex;
    padding-top: 15vh;
    padding-right: 5vh;
    flex-direction: column;
    word-break: keep-all;
    align-items: center;
    text-align: center;
    width: 55vw;
    height: calc(var(--vh) * 100);
  }
  .logoImage {
    width: 25vw;
  }
}

html {
  /* -webkit-text-size-adjust: none;
  text-size-adjust: none; */
  touch-action: none;
}
