/* canvas */
canvas {
  width: 100vw;
  height: 92vh;
  /* for Iphone */
  height: calc(var(--vh) * 92);
  display: block;
}

/* 이름표, 마우스 클릭좌표 받아오기 등 기능 */
#divContainer {
  /* flex: 1; */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 92vh;
  /* for Iphone */
  height: calc(var(--vh) * 92);
  z-index: 10;
  overflow: hidden;
}

.canvasOverlay {
  position: absolute;
}

/* navbar 전체 */
.navbar {
  height: 8vh;
  /* for Iphone */
  height: calc(var(--vh) * 8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
  padding: 8px 12px;
  font-size: 3vh;
  /* for Iphone */
  font-size: calc(var(--vh) * 3);
  flex-wrap: nowrap;
  flex-direction: row;
}

/* navbar 왼쪽 부분 */
.navbar_left {
  flex: 1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  height: 100%;
}
/* navbar 중간부분 */
.navbar_center {
  flex: 2 1 0;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  font-size: 3vh;
  /* for Iphone */
  font-size: calc(var(--vh) * 3);
  padding-left: 0;
}
.navbar_center li {
  padding: 0px 12px;
  height: 100%;
}
/* navbar 오른쪽 부분 */
.navbar_right {
  flex: 1 1 0;
  list-style: none;
  text-align: right;
}

.navbar_button {
  color: black;
}

/* 네비게이션 모바일 */
@media screen and (max-width: 767px) {
  .navbar_left {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .navbar_center li {
    padding: 0px 6px;
    height: 100%;
  }
}

/* joystick */
.joystickBase {
  top: 0px;
  position: absolute;
  visibility: hidden;
  width: 170px;
  height: 170px;
  background: rgba(196, 196, 196, 0);
}
.joystick {
  top: 0px;
  position: absolute;
  visibility: hidden;
  width: 70px;
  height: 70px;
  background: rgba(196, 196, 196, 0);
}
