/* * {
  animation-duration: 0s !important;
} */

/* canvas */
.spaceCanvas {
  width: 100vw;
  height: 100vh;
  /* for Iphone */
  /* height: calc(var(--vh) * 92);
  height: calc(var(--vh) * 92 - env(safe-area-inset-bottom) - 12px); */
  display: block;
}

/* 이름표, 마우스 클릭좌표 받아오기 등 기능 */
#divContainer {
  /* flex: 1; */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  text-shadow: 0px 0px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
  color: white;

  /* for Iphone */
  /* height: calc(var(--vh) * 92);
  height: calc(var(--vh) * 92 - env(safe-area-inset-bottom) - 12px); */
  z-index: 10;
  overflow: hidden;
}

.canvasOverlay {
  position: absolute;
  cursor: default;
}

/* default */
.canvasOverlay-textMessage-bottom {
  position: absolute;
  cursor: default;
  max-width: 150px;
  padding: 3px 5px;
  word-break: break-all;
  line-break: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.canvasOverlay-textMessage-bottom:after {
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
  position: absolute;
  left: 42%;
  bottom: -20px;
}
/* top */
/* .canvasOverlay-textMessage-top {
  position: absolute;
  cursor: default;
  max-width: 150px;
  padding: 3px 5px;
  word-break: break-all;
  line-break: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.canvasOverlay-textMessage-top:after {
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  content: '';
  position: absolute;
  left: 42%;
  top: -20px;
} */
/* left */
/* .canvasOverlay-textMessage-left {
  position: absolute;
  cursor: default;
  max-width: 150px;
  padding: 3px 5px;
  word-break: break-all;
  line-break: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.canvasOverlay-textMessage-left:after {
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 10px solid rgba(255, 255, 255, 0.3);
  border-bottom: 5px solid transparent;
  content: '';
  position: absolute;
  top: 42%;
  right: 100%;
} */
/* right */
.canvasOverlay-textMessage-right {
  position: absolute;
  cursor: default;
  max-width: 150px;
  padding: 3px 5px;
  word-break: break-all;
  line-break: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.canvasOverlay-textMessage-right:after {
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(255, 255, 255, 0.3);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: '';
  position: absolute;
  top: 42%;
  left: 100%;
}

/* navbar 전체 */
.navbar {
  height: 8vh;
  width: 100vw;
  position: fixed;
  display: flex;
  min-height: 50px;
  bottom: 2vh;
  justify-content: space-between;

  z-index: 11;

  /* visibility: hidden; */
  /* for Iphone */
  height: calc(var(--vh) * 8 + env(safe-area-inset-bottom) + 12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 12px);
  font-size: 3vh;
  /* for Iphone */
  font-size: calc(var(--vh) * 3);
  flex-wrap: nowrap;
  flex-direction: row;
}

/* navbar text */

/* navbar background color */
.navbar_left,
.navbar_center,
.navbar_right {
  /* background-color: white; */
  border: 4px solid #53150d;
  background-color: #ac9693ca;
}

/* navbar 왼쪽 부분 */
.navbar_left {
  /* flex: 1.2 1 0; */
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70%;
  list-style: none;
  font-size: 3vh;
  border-radius: 17px;
  /* background-color: white; */

  /* for Iphone */
  font-size: calc(var(--vh) * 3);
  padding-left: 0;
}
.navbar_setting {
  padding: 0 0.5vw 0 0.5vw;
}

.navbar_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: min-content;
}
.profile_title,
.profile_title:hover {
  height: 3.5vh;
  font-size: inherit;
  font-weight: bold;
  color: black;
}

.name_title,
.audio_title,
.avatar_title {
  font-size: inherit;
  font-weight: bold;
  color: black;
}
.profile_avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile_avatar > img {
  width: 100px;
  height: 90px;
}
.profile_avatar > button {
  align-items: center;
  height: 20%;
  border: 0;
  outline: 0;
  background-color: white;
  color: #2598f1;
  text-shadow: gray;
}
.profile_input > input {
  width: 95%;
  max-width: 150px;
  color: black;
}
.profile_button,
.profile_input {
  padding-top: 1%;
  text-align: center;
  margin-top: 0.6vh;
  margin-bottom: 0.6vh;
}
.change_button {
  margin: auto;
  width: 80%;
  border-radius: 5px;
  background-color: #2598f1;
  color: white;
}
.change_button:hover {
  margin: auto;
  width: 80%;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  transition: 0.3s;
}
.profile_avatar > button:hover {
  color: skyblue;
  transition: 0.3s;
}
.profile_button:hover {
  background-color: white;
}

/* navbar 중간부분 */
.navbar_center {
  /* flex: 1.2 1 0; */
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70%;
  list-style: none;
  font-size: 3vh;
  border-radius: 17px;
  /* background-color: white; */

  /* for Iphone */
  font-size: calc(var(--vh) * 3);
  padding-left: 0;
}
.navbar_center > * {
  padding: 0 1vw;
}

/* navbar 오른쪽 부분 */
.navbar_right {
  /* flex: 1 1 0; */
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70%;
  list-style: none;
  font-size: 3vh;
  border-radius: 17px;
  /* background-color: rgb(255, 255, 255); */
  list-style: none;
  text-align: right;
}
.navbar_right :hover {
  /* background-color: rgb(255, 255, 255); */
  transition: opacity 0.25s ease-in-out;
  /* -moz-transition: opacity .25s ease-in-out;
  -webkit-transition */
}
.panel_button,
.panel_button > * {
  color: black;
  border: 0px;
  background-color: white;
}
.user_list {
  width: 15vw;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user_list > div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user_list_avatar {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.navbar_button {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
/* .navbar_button:hover {
  color: gainsboro;
  border: 1px solid #2598f1;
  background-color: #2598f1;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 gray;
  transition: 0.1s;
} */
.users_title,
.message_title {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}
.users_title > div:last-child,
.message_title > div:last-child {
  color: #2598f1;
}
.users_title > div:last-child:hover,
.message_title > div:last-child:hover {
  color: skyblue;
  transition: 0.3s;
}
.panel_volume {
  align-items: center;
}
.panel_volume_bar {
  width: 5vw;
  vertical-align: middle;
  margin-bottom: 2px;
}
.panel_volume_value {
  width: 5px;
  margin-right: 20px;
  padding-left: 5px;
}
.message_array {
  font-size: 15px;
  width: 100%;
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message_popup {
  width: 15vw;
  padding: 10px;
  max-width: 400px;
  min-width: 200px;
}
.message {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
  line-break: normal;
  white-space: normal;
}
.message_input {
  width: calc(100% - 50px);
}
.message_input_button {
  width: 50px;
}

.vowel-detect {
  position: absolute;
  width: '500px';
  left: 0;
  top: 0;
  z-index: 20;
}

/* 네비게이션 모바일 */
@media screen and (max-width: 1024px) {
  /* ios 사파리의 경우 좌우 safe area 고려가 되어있지 않음 */
  /* @media screen and (orientation: landscape) {
    .navbar_left {
      padding-inline-start: calc(env(safe-area-inset-bottom) + 12px);  
    } 
  } */
  .navbar_left {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* padding-inline-start: calc(env(safe-area-inset-bottom) + 12px); */
  }
  .navbar_center li {
    padding: 0px 6px;
    height: 100%;
  }
  .navbar_button {
    color: black;
    /* border: 1px solid gainsboro;
    background-color: gainsboro; */
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 0 gray; */
  }
  .navbar_button:hover {
    color: gainsboro;
    /* border: 1px solid #2598f1;
    background-color: #2598f1; */
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 0 gray; */
  }
  .change_button {
    margin: auto;
    width: 80%;
    border-radius: 5px;
    background-color: #2598f1;
    color: white;
  }
  .change_button:hover {
    margin: auto;
    width: 80%;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
  }
  .profile_avatar > button:hover {
    color: skyblue;
    transition: 0.3s;
  }
}

/* joystick */
.joystickBase {
  top: 0px;
  position: absolute;
  visibility: hidden;
  width: 170px;
  height: 170px;
  background: rgba(196, 196, 196, 0);
}
.joystick {
  top: 0px;
  position: absolute;
  visibility: hidden;
  width: 70px;
  height: 70px;
  background: rgba(196, 196, 196, 0);
}

.setting_dropdown_menu {
  width: 15vh;
}

.setting_dropdown_menu_item {
  cursor: default;
}

.speaker_select,
.mic_select {
  display: inline;
  width: 100%;
}

.speaker_select_img,
.mic_select_img {
  margin-left: 10px;
  position: absolute;
  height: 20.17px;
}

.speaker_select_div,
.mic_select_div {
  width: 70%;
}

button .setting_button {
  border: 0;
  outline: 0;
  background-color: none;
}

.setting_menu_item_title,
.setting_menu_item_content {
  cursor: default;
}

.setting_menu_item_title:hover,
.setting_menu_item_content:hover {
  background-color: none;
}

.ant-page-header-content {
  padding: 0;
}
