html {
  padding: env(safe-area-inset);
}

/* scrollbar hidden */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body,
#root {
  /* scrollbar hidden */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* for Iphone */
  height: calc(var(--vh) * 100);
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#divLoad {
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  overflow: hidden;
}

.canvasOverlay {
  position: absolute;
}
