body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#divContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.canvasOverlay {
  position: absolute;
}
